<thead th:fragment="transactionsTableHead(data)">
<tr>
    <th class="text-left table-border-right" th:text="${data.translations.date}">Date</th>
    <th class="text-left table-border-right" th:text="${data.translations.type}">Type</th>
    <th class="text-left table-border-right" th:text="${data.translations.project}">Asset</th>
    <th class="table-border-right" th:text="${data.translations.paidIn}">Paid In</th>
    <th class="table-border-right" th:text="${data.translations.paidOut}">Paid Out</th>
    <th th:text="${data.translations.tokenQuantity}">Token quantity</th>
</tr>
</thead>
