* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'OpenSans', sans-serif;
    font-size: 12px
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#account-summary-table td,
#transactions-summary-table td {
    border-bottom: 1px solid #CCCCCC;
}

table th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-style: italic;
}

table th,
table td {
    font-weight: 400;
    text-align: right;
    padding: 6px;
}

/*Client info*/

.page-1 .client-info p {
    padding-bottom: 8px;
}

.page-1 .client-info .address {
    margin-bottom: 20px;
    text-align: left;
}

.page-1 .client-info .address #client-name {
    font-weight: 700;
}

.page-1 .client-info table {
    margin-bottom: 20px;
}

/*Account summary, first table*/
.page-1 .account-summary h1 {
    margin-bottom: 30px;
}

.page-1 .account-summary .summary-info {
    margin-bottom: 25px;
}

.page-1 .account-summary .summary-info .summary-left {
    text-align: left;
}

.page-1 .account-summary .summary-info .summary-left h2 {
    padding-bottom: 8px;
}

.summary-right {
    font-weight: bold;
}

.page-1 .account-summary #account-summary-table {
    margin-bottom: 64px;
}

/*Page 2 start*/

.transactions h2 {
    margin-bottom: 20px;
}

.text-left {
    text-align: left;
}

.table-border-right {
    border-right: 1px solid #CCCCCC;
}

.table-border-bottom {
    border-bottom: 1px solid black;
}

.table-no-bottom-border {
    border-bottom: none !important;
}

.table-grey-background {
    background-color: #EFEFEF;
}

.table-text-small {
    font-size: 12px;
}

.page-1 {
    page-break-after: always;
}

table tr {
    page-break-inside: avoid;
}

table {
    -fs-table-paginate: paginate;
}

@page {
    size: a4 portrait;
    margin: 150px 80px 100px 80px;

    @top-right {
        font-family: 'OpenSans', sans-serif;
        font-size: 12px;
        content: "Page " counter(page) "/" counter(pages);
    }
}
